.content-section {
  &.dby-bg-dark {
    background-color: $black;
    color: $white;
  }
  &.dby-bg-collab {
    background-color: #D1D8F2;
    color: $black;
  }
  &.dby-bg-dark {
    background-color: $black;
    color: $white;
  }
  &.skwd-20 {
    transform: skewY(-7deg)
  }
  &.skwd-p20 {
    transform: skewY(7deg)
  }
}