html {
  scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
  // background-color: $white;
  background-color: $bg-gray;
}

#__nuxt, #__layout, html, body, .app {
  height: 100%;
}

body {
  .app {
    display: flex;
    flex-direction: column;
  }
}